@font-face {
  font-family: "iconfont"; /* Project id 4821654 */
  src: url('iconfont.woff2?t=1738844605303') format('woff2'),
       url('iconfont.woff?t=1738844605303') format('woff'),
       url('iconfont.ttf?t=1738844605303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e6e9";
}

.icon-wode:before {
  content: "\e6ea";
}

.icon-wenzi:before {
  content: "\e6eb";
}

.icon-shoucang1:before {
  content: "\e6ec";
}

.icon-pinglun:before {
  content: "\e6ed";
}

.icon-xinxi:before {
  content: "\e6ee";
}

.icon-yudu:before {
  content: "\e6ef";
}

.icon-qianbao:before {
  content: "\e6f0";
}

.icon-yonghu:before {
  content: "\e6f1";
}

.icon-huodong:before {
  content: "\e6f2";
}

.icon-tupian:before {
  content: "\e6f3";
}

.icon-zanping:before {
  content: "\e6f4";
}

.icon-youxi:before {
  content: "\e6f5";
}

.icon-tongxunlu:before {
  content: "\e6f6";
}

.icon-yundong:before {
  content: "\e6f7";
}

.icon-zixun:before {
  content: "\e6f8";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-shouye:before {
  content: "\e60c";
}

.icon-youjian:before {
  content: "\e60d";
}

.icon-shoucang:before {
  content: "\e60e";
}

.icon-wancheng:before {
  content: "\e60f";
}

.icon-a-wo:before {
  content: "\e6dc";
}

.icon-bianji:before {
  content: "\e6dd";
}

.icon-chakansousuo:before {
  content: "\e6de";
}

.icon-huiyuan:before {
  content: "\e6df";
}

.icon-dangan:before {
  content: "\e6e0";
}

.icon-daka:before {
  content: "\e6e1";
}

.icon-shanchu:before {
  content: "\e6e2";
}

.icon-paizhao:before {
  content: "\e6e3";
}

.icon-shuju:before {
  content: "\e6e4";
}

.icon-jifen:before {
  content: "\e6e5";
}

.icon-tongzhi:before {
  content: "\e6e6";
}

.icon-dingwei:before {
  content: "\e6e7";
}

.icon-shenghuoxiuxian:before {
  content: "\e6e8";
}

