// styles/_variables.scss
$primary-color: #7948EA;// 示例主色调（蓝色）
$primary-hover-color: #8859f7; // 悬停色（较暗的蓝色）
$text-hover-color:#ffffff;
$input-bg:#7948EA;// 输入框背景颜色
$divider-color:#e0e0e0;// 分割线颜色
$avatar-bg:#e0e0e0;
$text-primary:#7948EA;
$text-secondary:#D4D4D4;
$text-third:#484848;
$state-success:#54D497;

$spacing-base: 8px;
$header-height: 60px;


